.file-selector{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.import-dialog {
  width: 50vw;
}

@media screen and (max-width: 40em) {
  .import-dialog {
    width: 75vw;
  }
}
