.working-sheet {
  border-radius: 4px;
  border: 1px solid #bababa;
  background-color: #fafafa;
  width: 100%;
  padding: 16px;
}

.tabview {
  border-radius: 3px;
  border: 1px solid #bababa;
  background-color: #ffffff;
}

:host {
  margin-top: 75px;
}

