<p-tabView class="p-col tabview">
  <p-tabPanel header="Crowders">
    <div *ngIf="crowders.length > 0" style="height: 100%">
      <p-table [value]="crowders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3em">
              Id
            </th>
            <th>
              Crowder
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-crowder>
          <tr>
            <td>
              {{crowder.id}}
            </td>
            <td>
              {{crowder.name}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="crowders.length == 0" style="height: 100%">
      Merci de charger une liste de crowders
    </div>
  </p-tabPanel>
  <p-tabPanel header="Pivots">
    <div *ngIf="pivots.length > 0" style="height: 100%">
      <p-table [value]="pivots" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm p-datatable-gridlines">

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3em">
              Id
            </th>
            <th>
              Pivot
            </th>
            <th>
              Réponse
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pivot>
          <tr>
            <td>
              {{pivot.id}}
            </td>
            <td>
              {{pivot.question}}
            </td>
            <td>
              {{pivot.reponse}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="pivots.length == 0" style="height: 100%">
      Merci de charger une liste de pivots
    </div>
  </p-tabPanel>
  <p-tabPanel header="Pivot/Propositions">
    Merci de charger une liste de propositions
  </p-tabPanel>
</p-tabView>
