<div class="card">
  <h2>Working sheet</h2>
</div>

<div class="working-sheet p-grid p-flex-column">
  <div class="p-grid p-col p-flex-column">
    <div class="p-col">Crowders : {{nbrDeCrowders}}</div>
    <div class="p-col">Groups de notation : {{nbrDeGroupsDeNotation}}</div>
    <div class="p-col">Pivots par groupe de notation : {{nbrDeGroupsDeNotation}}</div>
    <div class="p-col">
      <button pButton type="button" label="Groups" icon="pi pi-users" iconPos="left"
              style="margin-right: 10px;width: 150px" routerLink="/groups"></button>
      <button pButton type="button" label="Données" icon="pi pi-chart-bar" iconPos="left"
              style="margin-right: 10px;width: 150px" routerLink="/donnees" ></button>
    </div>
  </div>

  <router-outlet></router-outlet>
<!--  <app-groups></app-groups>-->

</div>
