.card {
  border-radius: 4px;
  background-color: #1976d2;
  height: 40px;
  margin: 0 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  color: white;
  font-weight: 600;
  border: none;
  min-width: 30%;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
