<div class="parameters-section" role="main">
  <div class="card">
    <h2>Paramètres</h2>
  </div>
  <div class="parameters-tab">
    <p-tabView>
      <p-tabPanel header="Répartitions">

        <div class="p-grid p-flex-column" style="text-align: center">
          <div class="p-col">
            <app-file-selector [nom]="'Importer crowders'"
                               icone="users" [typeDeDonnees]="dataType.CROWDER"></app-file-selector>
          </div>
          <div class="p-col">
            <app-file-selector [nom]="'Importer pivots'"
                               icone="list" [typeDeDonnees]="dataType.PIVOTS"></app-file-selector>
          </div>
          <div class="p-col">
            <app-file-selector [nom]="'Importer propositions'"
                               icone="th-large" [typeDeDonnees]="dataType.PROPOSITIONS"></app-file-selector>
          </div>
          <div class="p-col">
            <div style="margin-bottom: 5px"><label style="text-align: center">Proposition par pivot</label></div>
            <p-inputNumber min="0" id="propo-par-piv-input" [(ngModel)]="nombreDePropositionsParPivot"></p-inputNumber>
          </div>

          <div class="p-col">
            <div style="margin-bottom: 5px"><label for="not-par-prop-input">Notation par proposition</label></div>
            <p-inputNumber min="0" id="not-par-prop-input" [(ngModel)]="nombreDeNotationsParProposition"></p-inputNumber>
          </div>
        </div>


        <div class="p-grid p-flex-column" style="text-align: center">
          <div class="p-col">
            <button pButton pRipple label="Créer des groupes" (click)="onGenerateGroups()" class="p-button-info"
                    style="width: 70%"></button>
          </div>
          <div class="p-col">
            <button pButton pRipple label="Réinitialiser" class="p-button-info" (click)="onReinit()"
                    style="width: 70%"></button>
          </div>
        </div>

        <div style="margin-top: 10px;">
          <p-panel header="Simulation">
            <div class="p-grid  p-flex-column">
              <div class="p-col" style="margin-top: 4%">
               <span class="p-float-label">
                <p-inputNumber min="0" id="crowders-input" [(ngModel)]="nombreDeCrowders"></p-inputNumber>
                <label for="crowders-input">Nombre de crowders</label>
              </span>
              </div>

              <div class="p-mt-4 p-col">
               <span class="p-float-label">
                 <p-inputNumber min="0" id="pivots-input" [(ngModel)]="nombreDePivots"></p-inputNumber>
                <label for="pivots-input">Nombre de pivots</label>
              </span>
              </div>
              <div class="p-col">
                <button pButton pRipple label="Générer" class="p-button-info" (click)="onGenerateSamples()"></button>
              </div>
            </div>
          </p-panel>
        </div>


      </p-tabPanel>

      <p-tabPanel header="Gestion du temps">

        <div class="p-grid">

          <div class="p-col-12"><b>Temps nécessaire en heurs pour :</b></div>
          <div class="p-col-8"><label for="propoDeQuestion">Proposition de question</label></div>
          <div class="p-col-4">: <input type="number" id="propoDeQuestion" style="width: 80%"/></div>

          <div class="p-col-8"><label for="propoDeReponse">Proposition de réponse</label></div>
          <div class="p-col-4">: <input type="number" id="propoDeReponse" style="width: 80%"/></div>

          <div class="p-col-8"><label for="notationDeQuestion">Notation de question</label></div>
          <div class="p-col-4">: <input type="number" id="notationDeQuestion" style="width: 80%"/></div>

          <div class="p-col-8"><label for="notationDeReponse">Notation de réponse</label></div>
          <div class="p-col-4">: <input type="number" id="notationDeReponse" style="width: 80%"/></div>

          <div class="p-col-12"><b>Sessions :</b></div>

          <div class="p-col-8"><label for="sessionsParSemaine">Nombre de sessions/semaine</label></div>
          <div class="p-col-4">: <input type="number" id="sessionsParSemaine" style="width: 80%"/></div>
          <div class="p-col-8"><label for="dureeSession">Durée d'une session</label></div>
          <div class="p-col-4">: <input type="number" id="dureeSession" style="width: 80%"/></div>


          <div class="p-col-7"> <button pButton pRipple label="Générer un planing" class="p-button-info" (click)="onGenerateSamples()"></button></div>
          <div class="p-col-5"><button pButton pRipple label="Réinitialiser" class="p-button-info" (click)="onGenerateSamples()" ></button></div>

        </div>


      </p-tabPanel>
    </p-tabView>
  </div>
</div>
